<section class="sobre-cabecalho">
  <div>
    <h2> Pelo poder transformador dos livros (e das xícaras de café!)</h2>
    <p>
      Bem-vindo ao nosso universo literário — onde os livros não mordem, mas viciam!

      Aqui a gente acredita que uma boa história pode mudar seu dia (ou pelo menos te fazer esquecer o boleto que venceu
      ontem).
      Tem resenha? Tem sim! Tem clássico? Claro! Tem livro que ninguém entendeu até hoje? Provavelmente também.

      Prepare seu marcador de página, ajeite a coluna na cadeira e venha descobrir títulos incríveis, personagens
      apaixonantes e aquele final que te faz gritar: “COMO ASSIM ACABOU ASSIM?!”

      Entre, sinta-se em casa e permita que os livros baguncem um pouco a sua mente — no melhor sentido possível.
    </p>
  </div>
  <figure class="pilha_books">
    <img src="assets/imagens/pilha-de-livros.png" alt="">
  </figure>
</section>

<section class="sobre-download">
  <figure>
    <img src="assets/imagens/sobre-download.png" alt="">
    <figcaption>Faça download em PDF e EPUB dos seus livros favoritos</figcaption>
  </figure>
</section>

<section class="sobre-tecnologias">
  <h3>Tecnologias usadas</h3>
  <div class="icones-tecnologias">
    <img src="assets/imagens/angular.png" alt="Logo do Angular">
    <img src="assets/imagens/google.png" alt="Logo do Google">
    <img src="assets/imagens/nodejs.png" alt="Logo do JavaScript">
  </div>
</section>