<header>
  <a class="logo"
     routerLink="/lista-livros"
     routerLinkActive="active-page logo"
     ariaCurrentWhenActive="page"
     aria-label="Página inicial">
    <img src="assets/imagens/logo.png" alt="Logo da aplicação Buscante">
  </a>

  <div class="hamburger" onclick="toggleMenu()">
    <div></div>
    <div></div>
    <div></div>
  </div>

  <nav id="menu">
    <a routerLink="/sobre"
       routerLinkActive="active-page"
       ariaCurrentWhenActive="page"
       aria-label="Mais informações sobre o Buscante">Sobre</a>

    <a routerLink="/contato"
       routerLinkActive="active-page"
       ariaCurrentWhenActive="page"
       aria-label="Entre em contato">Contato</a>
  </nav>
</header>